/* h1 Headers style*/
#header {
    background-color: red;
    font-weight: 800;
    font-size: 32px;
    text-align: center;
}

/* recipe list links style*/
.unordered.recipes {
    background-color: orange;
    color: rgb(80, 75, 70);
    font-size: 20px;
}

/*Yea boi gif style*/
#foods {
    height: auto;
    width: 10;
}